{{>header}}
<div  class="container" >


<h1> Lista de cursos</h1>
<table class="table"> 
	<thead> 
		<th>Nombre</th>
		<th>Duracion</th>
		<th>valor</th>
		<th>ID</th>
		<th>Estado</th>
	</thead>
	<tbody>


{{{listar}}} 
</tbody>
</table> 


<img src="pie.png" width="100%" >

{{>footer}}