{{>header}}
{{{eliminarEst nombreEstu}}}
<div  class="container" >

<h1> listado de incripciones</h1>
<form class="row g-3" action="/listaINScripciones" method="post">
	<div class="col-md-4">
    <label for="validationServer01" class="form-label">ID del curso</label>
    <input type="text" class="form-control is-valid" id="ver"  name="id_Curso">
    <div class="valid-feedback">
    	<button class="btn btn-success" type="submit">ver</button>

    </div>
  </div>
	<table>
		<thead>
			<tr>
				<th scope="col">Nombre</th>
				<th scope="col">correo</th>
				<th scope="col"></th>

			</tr>
			
		</thead>
		<tbody>
			{{{listarEstudiantes id_Curso }}}
		</tbody>
	</table>
	<div class="col-12">
    
  </div>
</form>
<img src="pie.png" width="100%" >
{{>footer}}